.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body-wrapper {
  height: 100%;
  min-height: 100%;
  padding-top: 65px;
}

a {
  color: #393939;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffbc00;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}